@charset "UTF-8";
/* Header
------------------------------------------------ */
.header {
  .logo {
    .main-logo {
      height: 130px;
    }
  }
  .navbar {
    &.navbar-site {
      .navbar-identity {
        .navbar-brand {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
  }
}